.navbar{
  display: flex;
  justify-content:space-between;
  background-color: rgb(30, 11, 11);
}
.navbar-wrap{
  width: 50%;
}
.nav-link{
  color: rgba(30,58,138,0.6);
  font-size: 1.25rem;
}
.nav-link:hover{
  color:  rgba(30, 58, 138, 0.85);
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.0.25rem;
    list-style-type: none;
}
  
/* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:  rgba(255, 255, 255, 0.7);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(16, 88, 143, 0.6);
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color:  rgba(255, 255, 255, 1);
  }
  .dropbtn{
    color: rgba(30,58,138,0.6);
    font-size: 1.25rem;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn:hover{
    color:  rgba(30, 58, 138, 0.851);
  }


<hr style="height:1.5px;border-width:0;color:gray;background-color:gray">

<div class="footer">
    <div class="ft-left">
        <p class="ft-heading">Our Topics</p>
        <div class="ft-left-content">
            <div class="ft-left-content-lt">
                <a href="" class="ft-text adoption">Adoption</a>
                <a href="" class="ft-text appeals">Appeals</a>
                <a href="" class="ft-text archive">Archive</a>
                <a href="" class="ft-text avoid-scams">Avoid Scams</a>
                <a href="" class="ft-text citixenship">Citizenship</a>
            </div>
            <div class="ft-left-content-rt">
                <a href="" class="ft-text family">Family</a>
                <a href="" class="ft-text file-online">File Online</a>
                <a href="" class="ft-text green-card">Green Card</a>
                <a href="" class="ft-text history">History</a>
                <a href="" class="ft-text humanitarian">Humanitarian</a>
            </div>
        </div>
    </div>

    <div class="ft-mid">
        <p class="ft-heading">Policies</p>
        <div class="ft-mid-content">
        <a href="" class="ft-text social-media-policy">Social Media Policy</a>
        <a href="" class="ft-text no-fear-act">No FEAR Act</a>
        </div>
    </div>

    <div class="ft-right">
        <p class="ft-heading">Details</p>
        <div class="ft-right-content">
        <a href="" class="ft-text ">Home</a>
        <a href="" class="ft-text ">procedure</a>
        <a href="" class="ft-text ">Category</a>
        <a href="" class="ft-text ">About us</a>
        <a href="" class="ft-text ">Contact</a>
        </div>
    </div>

</div>

<hr style="height:1.5px;border-width:0;color:gray;background-color:gray">
    
