<hr style="height:1.5px;border-width:0;color:gray;background-color:gray">

  <div class="footer">
    <div class="ft-left">
      <p class="ft-heading">Our Topics</p>
      <div class="ft-left-content">
        <div class="ft-left-content-lt">
          <a href="" class="ft-text adoption">Adoption</a>
          <a href="" class="ft-text appeals">Appeals</a>
          <a href="" class="ft-text archive">Archive</a>
          <a href="" class="ft-text avoid-scams">Avoid Scams</a>
          <a href="" class="ft-text citixenship">Citizenship</a>
        </div>
        <div class="ft-left-content-rt">
          <a href="" class="ft-text family">Family</a>
          <a href="" class="ft-text file-online">File Online</a>
          <a href="" class="ft-text green-card">Green Card</a>
          <a href="" class="ft-text history">History</a>
          <a href="" class="ft-text humanitarian">Humanitarian</a>
        </div>
      </div>
    </div>

    <div class="ft-mid">
      <p class="ft-heading">Policies</p>
      <div class="ft-mid-content">
        <a href="" class="ft-text social-media-policy">Social Media Policy</a>
        <a href="" class="ft-text no-fear-act">No FEAR Act</a>
      </div>
    </div>

    <div class="ft-right">
      <p class="ft-heading">Details</p>
      <div class="ft-right-content">
        <a href="/" class="ft-text ">Home</a>
        <a href="/procedure" class="ft-text ">procedure</a>
        <a href="/boys" class="ft-text ">Category</a>
        <a href="/Aboutus" class="ft-text ">About us</a>
        <a href="/contact" class="ft-text ">Contact</a>
      </div>
    </div>

  </div>