
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand my-2 mx-20""><img src="./img/logo/logo.png" alt=""></div>
    <div class="navbar-wrap mx-20" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active mx-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/procedure">Procedure</a>
        </li>
        <li class="nav-item mx-2">
          <ul class="dropdown mx-2">
            <li class="dropbtn">Categories</li>
            <li class="dropdown-content">
              <a href="/boys">Boys</a>
              <a href="/girls">Girls</a>
            </li>
          </ul>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/Aboutus">About us</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item mx-2 log">
          <a href="/login" class="nav-link">Login</a>
          <a href="/signUp" class="nav-link">SignUp</a>
        </li>
        
      </ul>
    </div>
  </nav>