<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
    <style>
        body{
            height: 100vh;
        }
        .head{
          color: black!important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand my-2 mx-20""><img src="./img/logo/logo.png" alt=""></div>
        <div class="navbar-wrap mx-20" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active mx-2">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/procedure">Procedure</a>
            </li>
            <li class="nav-item mx-2">
              <ul class="dropdown mx-2">
                <li class="dropbtn">Categories</li>
                <li class="dropdown-content">
                  <a href="/boys">Boys</a>
                  <a href="/girls">Girls</a>
                    <a href="/addChild">Add Child</a>
                </li>
              </ul>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/Aboutus">About us</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="d-flex flex-col mt-12 items-center h-100"> 
        <div class="border-2 border-black w-75">
            <h1 class="text-3xl my-3 head">Welcome to Our Child Adoption Portal!</h1>
            <p class="my-3">At Child Hope, we believe that every child deserves a loving and caring family. Our mission is to connect prospective parents with orphanages and children in need of a forever home. We serve as a trusted intermediary, facilitating the adoption process and providing a platform where users can find comprehensive information about children available for adoption.</p> 
            <p class="my-3">Our platform is designed to be user-friendly and intuitive, making it easy for individuals and families to navigate through profiles of children waiting to be adopted. We understand that adoption is a deeply personal and important decision, which is why we strive to provide all the necessary resources and support to guide you through this journey.</p>
            <p class="my-3">
                Through our portal, you can explore detailed profiles of children, including their age, background, interests, and photos. We work closely with orphanages to ensure that each profile is accurate and up-to-date, allowing you to make informed decisions as you consider adoption.
            </p>
            <p class="my-3">In addition to providing information about available children, we are committed to promoting the importance of adoption and raising awareness about the needs of orphaned and abandoned children. We believe that every child deserves a loving family and a bright future, and we are dedicated to making that a reality.</p>
            <p class="my-3">Whether you are considering adoption for the first time or have been on this journey for a while, Child Hope is here to support you every step of the way. Our team is passionate about helping children find their forever homes, and we are honored to be a part of your adoption journey.</p>
            <p class="my-3">Thank you for visiting Child Hope. Together, we can make a difference in the lives of children in need.</p>
        </div>
    </div>
    <hr style="height:1.5px;border-width:0;color:gray;background-color:gray">

    <div class="footer">
      <div class="ft-left">
        <p class="ft-heading">Our Topics</p>
        <div class="ft-left-content">
          <div class="ft-left-content-lt">
            <a href="" class="ft-text adoption">Adoption</a>
            <a href="" class="ft-text appeals">Appeals</a>
            <a href="" class="ft-text archive">Archive</a>
            <a href="" class="ft-text avoid-scams">Avoid Scams</a>
            <a href="" class="ft-text citixenship">Citizenship</a>
          </div>
          <div class="ft-left-content-rt">
            <a href="" class="ft-text family">Family</a>
            <a href="" class="ft-text file-online">File Online</a>
            <a href="" class="ft-text green-card">Green Card</a>
            <a href="" class="ft-text history">History</a>
            <a href="" class="ft-text humanitarian">Humanitarian</a>
          </div>
        </div>
      </div>
  
      <div class="ft-mid">
        <p class="ft-heading">Policies</p>
        <div class="ft-mid-content">
          <a href="" class="ft-text social-media-policy">Social Media Policy</a>
          <a href="" class="ft-text no-fear-act">No FEAR Act</a>
        </div>
      </div>
  
      <div class="ft-right">
        <p class="ft-heading">Details</p>
        <div class="ft-right-content">
          <a href="/home" class="ft-text ">Home</a>
          <a href="/procedure" class="ft-text ">procedure</a>
          <a href="/boy" class="ft-text ">Category</a>
          <a href="/Aboutus" class="ft-text ">About us</a>
          <a href="/contact" class="ft-text ">Contact</a>
        </div>
      </div>
  
    </div>
  
    <hr style="height:1.5px;border-width:0;color:gray;background-color:gray">
</body>
</html>
