<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand my-2 mx-10""><img src="./img/logo/logo.png" alt=""></div>
        <div class="navbar-wrap mx-20" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active mx-2">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/procedure">Procedure</a>
            </li>
            <li class="nav-item mx-2">
              <ul class="dropdown mx-2">
                <li class="dropbtn">Categories</li>
                <li class="dropdown-content">
                  <a href="/boys">Boys</a>
                  <a href="/girls">Girls</a>
                </li>
              </ul>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/Aboutus">About us</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item mx-2 log">
              <a href="/login" class="nav-link">Login</a>
              <a href="/signUp" class="nav-link">SignUp</a>
            </li>
            
          </ul>
        </div>
      </nav>
      <section>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./img/logo/h1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./img/logo/h2.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </section>

    <section class="expand-family">
      <h2>EXPAND YOUR FAMILY... THROUGH ADOPTION</h2>
      <p>We will ensure your family ties are legally recognized in all 50 states</p>
      <a href="/procedure" class="btn">MORE INFO</a>
  </section>

  <section class="info-section">
      <div class="info-box">
          <img src="./img/logo/WhatsApp Image 2024-05-17 at 2.57.58 AM.jpeg" alt="Thinking About Adoption" class="images">
          <h3>THINKING ABOUT ADOPTION</h3>
          <b> "Adoption: A Journey of Love, Hope, and New Beginnings."</b>
      </div>
      <div class="info-box">
          <img src="./img/logo/WhatsApp Image 2024-05-17 at 2.57.58 AM (2).jpeg" alt="In the Process of Adopting" class="images">
          <h3>IN THE PROCESS OF ADOPTING</h3>
          <b>"Every Child Deserves a Family – Consider Adoption Today"</b>
      </div>
      <div class="info-box">
          <img src="./img/logo/WhatsApp Image 2024-05-17 at 2.57.58 AM (1).jpeg" alt="Post Adoption and Support" class="images">
          <h3>POST ADOPTION AND SUPPORT</h3>
          <b>Bring Joy to a Child's Life – Adopt and Grow Your Family.</b>
      </div>
  </section>

  <section class="guide-section">
      <h2>GUIDE TO THE ADOPTION PROCESS</h2>
      <p>We have developed a step-by-step guide for families considering intercountry adoption</p>
      <a href="/procedure" class="btn">MORE INFO</a>
  </section>

  <section class="did-you-know">
      <h2>DID YOU KNOW?</h2>
      <p>
        Child adoption is a beautiful journey that creates lifelong bonds and provides a loving, stable home for children in need. By adopting, you open your heart to a child, giving them the opportunity to grow and thrive in a nurturing environment. It's a profound act of love that transforms not only the child's life but also enriches your own, building a forever family filled with joy and happiness. Consider adoption and be the change that shapes a child's future for the better.
      </p>
  </section>
      <hr style="height:1.5px;border-width:0;color:gray;background-color:gray">

  <div class="footer">
    <div class="ft-left">
      <p class="ft-heading">Our Topics</p>
      <div class="ft-left-content">
        <div class="ft-left-content-lt">
          <a href="" class="ft-text adoption">Adoption</a>
          <a href="" class="ft-text appeals">Appeals</a>
          <a href="" class="ft-text archive">Archive</a>
          <a href="" class="ft-text avoid-scams">Avoid Scams</a>
          <a href="" class="ft-text citixenship">Citizenship</a>
        </div>
        <div class="ft-left-content-rt">
          <a href="" class="ft-text family">Family</a>
          <a href="" class="ft-text file-online">File Online</a>
          <a href="" class="ft-text green-card">Green Card</a>
          <a href="" class="ft-text history">History</a>
          <a href="" class="ft-text humanitarian">Humanitarian</a>
        </div>
      </div>
    </div>

    <div class="ft-mid">
      <p class="ft-heading">Policies</p>
      <div class="ft-mid-content">
        <a href="" class="ft-text social-media-policy">Social Media Policy</a>
        <a href="" class="ft-text no-fear-act">No FEAR Act</a>
      </div>
    </div>

    <div class="ft-right">
      <p class="ft-heading">Details</p>
      <div class="ft-right-content">
        <a href="/" class="ft-text ">Home</a>
        <a href="/procedure" class="ft-text ">procedure</a>
        <a href="/boys" class="ft-text ">Category</a>
        <a href="/Aboutus" class="ft-text ">About us</a>
        <a href="/contact" class="ft-text ">Contact</a>
      </div>
    </div>

  </div>

  <hr style="height:1.5px;border-width:0;color:gray;background-color:gray">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>